{
    "T_max": null,
    "compare_phase": [
        "train",
        "search"
    ],
    "init_lr": 0.025,
    "use_unbalanced_weights": false,
    "arch_adam_beta1": 0.5,
    "min_lr": null,
    "resume": false,
    "gammas": null,
    "warmup_epochs": 20,
    "tau_min": 0.1,
    "port": 8097,
    "bn_momentum": 0.1,
    "nb_classes": 2,
    "warmup_lr": 0.05,
    "train_print_freq": 30,
    "path": "/home/jingweipeng/ljb/Jingbo.TTB/Workspace",
    "test_batch_size": 6,
    "epochs": 100,
    "nesterov": true,
    "init_div_groups": false,
    "save_path": "/home/jingweipeng/ljb/WHUBuilding",
    "valid_size": null,
    "valid_batch_size": 6,
    "dropout": 0,
    "label_smoothing": 0.0,
    "weight_decay": 0.0005,
    "search_space": "proxyless",
    "reg_loss_type": "mul#log",
    "nb_layers": 12,
    "momentum": 0.9,
    "exp_name": "GumbelAutoDeeplab-search",
    "workers": 8,
    "elements": [
        "loss",
        "accuracy",
        "miou",
        "f1score"
    ],
    "reg_loss_lambda": 0.1,
    "tau_max": 10,
    "arch_weight_decay": 0.001,
    "filter_multiplier": 32,
    "scheduler": "cosine",
    "reg_loss_beta": 0.3,
    "dataset": "WHUBuilding",
    "gpu_ids": 1,
    "milestones": null,
    "arch_adam_beta2": 0.999,
    "ori_size": 512,
    "weight_optimizer_type": "SGD",
    "random_seed": null,
    "validation_freq": 1,
    "monitor": "max#miou",
    "gamma": null,
    "arch_init_type": "normal",
    "save_ckpt_freq": 5,
    "bn_eps": 0.001,
    "no_decay_keys": null,
    "resume_file": null,
    "crop_size": 512,
    "server": "http://localhost",
    "arch_optimizer_type": "adam",
    "reg_loss_alpha": 0.2,
    "arch_param_update_frequency": 1,
    "criterion": "Softmax",
    "arch_adam_eps": 1e-08,
    "open_vis": false,
    "arch_lr": 0.0003,
    "debug": false,
    "arch_init_ratio": 0.001,
    "arch_param_update_steps": 1,
    "steps": 1,
    "block_multiplier": 1,
    "eta_min": 0.001,
    "model_init": "he_fout",
    "train_batch_size": 6
}